<div class="container mx-auto mt-10">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-xl text-white">Lista de Tarefas</h2>
    <button class="btn btn-primary" (click)="onAdd()">Adicionar Tarefa</button>
  </div>
  <div class="w-full rounded-box border border-base-content/5 bg-gray-900">
    <table class="table w-full">
      <thead>
        <tr>
          <th scope="col" class="text-white">Título</th>
          <th scope="col" class="text-white">Descrição</th>
          <th scope="col" class="text-white">Concluída</th>
          <th scope="col" class="text-white">Prioridade</th>
          <th scope="col" class="text-white">Ações</th>
        </tr>      </thead>
      <tbody>
        @for (task of tasks; track task; let i = $index) {
        <tr>
          <td>{{ task.title }}</td>
          <td>{{ task.description }}</td>
          <td>
            <span
              class="badge"
              [ngClass]="{
                'badge-success': task.completed,
                'badge-warning': !task.completed
              }"
            >
              {{ task.completed ? "Concluída" : "Pendente" }}
            </span>
          </td>
          <td>
            <span
              class="badge"
              [ngClass]="{
                'badge-success': task.priority === 1,
                'badge-warning': task.priority === 2,
                'badge-error': task.priority === 3
              }"
            >
              {{
                task.priority === 1
                  ? "Baixa"
                  : task.priority === 2
                  ? "Média"
                  : "Alta"
              }}
            </span>
          </td>
          <td>
            <div class="flex gap-2">
              <button class="btn btn-sm btn-warning" (click)="onEdit(task)">
                Editar
              </button>
              <button class="btn btn-sm btn-error" (click)="onDelete(task)">
                Excluir
              </button>
            </div>          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
